/* ==========================================================================
  CSS Reset
   ========================================================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}html,body{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}

/* ==========================================================================
   Ie message
   ========================================================================== */
.iemess {
	display:none;
	margin:20px auto;
	width:50%;
	line-height:2em;
	font-size:2em;
	text-align:center;
}
.lt-ie9 .iemess {display:block;}
.lt-ie9 .iemess a {color:#4e4c4c;}
.lt-ie9 .iewrap {display:none;}

/* ==========================================================================
   Font Face
   ========================================================================== */
   
   @font-face {
    font-family: 'code_lightregular';
    src: url('../fonts/code_lte-webfont.eot');
    src: url('../fonts/code_lte-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/code_lte-webfont.woff') format('woff'),
         url('../fonts/code_lte-webfont.ttf') format('truetype'),
         url('../fonts/code_lte-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   span classes
   ========================================================================== */
   
   
   .white{color: #f7f7f7;}
   
   /* ==========================================================================
   Main Styles
   ========================================================================== */
   

* {margin:0;padding:0;}

body {
	font-family:sans-serif;
	font-size:1em;
	font-family:'HelveticaNeue-Light',"Helvetica Neue Light","Helvetica Neue","Helvetica",Arial,sans-serif;
	color:#3e3e3e;
	background-color:#f2f2f2;
}

.cntr {
	max-width:940px;
	width:100%;
	margin:auto;
	padding:0 2%;
}

header {
	height:130px;
	background-color: #7eb9ca;
}

.rightHeader {
	float:right;
	width:300px;
	margin:18px 0;
	text-align:right;
}
.phoneToggle4,.phoneToggle5{
	height: 85px;
	font-size: .850em;
	width: 70px;
	text-align: center;
	float: inherit;
	padding: 0 2%;

}
.phoneToggle4 img,.phoneToggle5 img{
	opacity: 1;
	-webkit-transition: 300ms all;
	-moz-transition: 300ms all;
	-ms-transition: 300ms all;
	-o-transition: 300ms all;
	
}
.phoneToggle4 img:hover,.phoneToggle5 img:hover{
	opacity: 0.4;

}
.logo {
	float:left;
	width:300px;
	margin:13px 0 0
}

a {color:#3e3e3e;text-decoration:none;}

a:hover {
	color:#3e3e3e;
}

a:visted {
	color:#3e3e3e;
}

h1 {
	padding:10px 0;
	font-size:40px;
	color: #f2f2f2;
	font-family: 'code_lightregular';
}
hr{
	width: 200px;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #7eb9ca;
	margin: .5em 0 0 0;
	padding: 0;
	}

textarea {
	width:100%;
	margin:20px auto 50px;
	height:200px;
	padding:5px;
	resize:none;
	font-family:"Courier New",Courier,monospace;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color:#3e3e3e;
	color:#f7f7f7;
	border: none;
	font-size: 0.8em
}


.grid {
	width:50%;
	float:left;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:30px 50px;
}

.container {
	padding-right:0;
}

.container form {
	width:99%;
}

.output {
	overflow:hidden;
	position:relative;
	text-align:center;
}

.iphone iframe {
	border:none;
	width:320px;
	height:480px;
	position:absolute;
	left:28px;
	top:132px;
	overflow:scroll;
	z-index:10;
/* 	background-color:#3e3e3e; */
	font-size: .8em;
/*outline: 2px solid black;*/
}

#url {
	height:30px;
	width:50%;
	vertical-align:top;
	font-family:'HelveticaNeue-Light',"Helvetica Neue Light","Helvetica Neue","Helvetica",Arial,sans-serif;
	font-size: 1em;
	}

input {
	margin: 20px auto 50px;
	vertical-align: top;
	width: 95px;
	padding: 6px;
	text-align: center;
	line-height: 1.5em;
	color: #f7f7f7;
	border: none;
	background-color: #7eb9ca;
	height: 30px;
	text-transform: uppercase;
}

input:hover{
	background-color: #7eb9ca;
	
}
footer {
	height:10px;
	background-color: #7eb9ca;
	position: fixed;
	bottom: 0;
	height:6px;
	width: 100%;
	z-index: 10;
}

/*===============================================================
                              IPHONE
================================================================*/
.iphone {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	position:relative;
}

.iphone {
	position:relative;
}

.iphone .reflection {
	position:absolute;
	top:100%;
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-ms-transform:scaleY(-1);
	-o-transform:scaleY(-1);
	transform:scaleY(-1);
	-webkit-mask-image:-webkit-linear-gradient(rgba(0,0,0,0) 80%,#000);
	-box-mask-image:-moz-linear-gradient(rgba(0,0,0,0) 80%,#000);
	-o-mask-image:-o-linear-gradient(rgba(0,0,0,0) 80%,#000);
	mask-image:linear-gradient(rgba(0,0,0,0) 80%,#000);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:.5;
}

.iphone .steel_band {
	position:relative;
	width:372px;
	height:734px;
	padding:3px;
	background:-webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,#dcdbda),color-stop(100%,#ebeae9));
	background:-webkit-linear-gradient(left,#dcdbda,#ebeae9);
	background:-moz-linear-gradient(left,#dcdbda,#ebeae9);
	background:-o-linear-gradient(left,#dcdbda,#ebeae9);
	background:linear-gradient(left,#dcdbda,#ebeae9);
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	-ms-border-radius:60px;
	-o-border-radius:60px;
	border-radius:60px;
	-webkit-box-shadow:inset 1px 0 0 #7e7c7a,inset -1px 0 1px #7e7c7a;
	-moz-box-shadow:inset 1px 0 0 #7e7c7a,inset -1px 0 1px #7e7c7a;
	box-shadow:inset 1px 0 0 #7e7c7a,inset -1px 0 1px #7e7c7a;
}

.iphone .plastic_band {
	width:364px;
	height:726px;
	padding:4px;
	-webkit-border-radius:57px;
	-moz-border-radius:57px;
	-ms-border-radius:57px;
	-o-border-radius:57px;
	border-radius:57px;
	background:#2b2b2b;
	-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.5),0 0 1px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0 0 1px rgba(0,0,0,0.5),0 0 1px rgba(0,0,0,0.5);
	box-shadow:inset 0 0 1px rgba(0,0,0,0.5),0 0 1px rgba(0,0,0,0.5);
}

.iphone .glass_face {
	position:relative;
	width:364px;
	height:726px;
	overflow:hidden;
	background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#000),color-stop(100%,#090909));
	background:-webkit-linear-gradient(#000,#090909);
	background:-moz-linear-gradient(#000,#090909);
	background:-o-linear-gradient(#000,#090909);
	background:linear-gradient(#000,#090909);
	-webkit-border-radius:53px;
	-moz-border-radius:53px;
	-ms-border-radius:53px;
	-o-border-radius:53px;
	border-radius:53px;
	-webkit-box-shadow:-1px -1px 2px rgba(255,255,255,0.15),-1px -1px 0 rgba(0,0,0,0.5);
	-moz-box-shadow:-1px -1px 2px rgba(255,255,255,0.15),-1px -1px 0 rgba(0,0,0,0.5);
	box-shadow:-1px -1px 2px rgba(255,255,255,0.15),-1px -1px 0 rgba(0,0,0,0.5);
}

.iphone .gloss {
	position:relative;
	z-index:1;
	height:100%;
	width:100%;
	-webkit-mask-image:-webkit-linear-gradient(-162deg,#000 32%,rgba(0,0,0,0) 32%);
	-box-mask-image:-moz-linear-gradient(-162deg,#000 32%,rgba(0,0,0,0) 32%);
	-o-mask-image:-o-linear-gradient(-162deg,#000 32%,rgba(0,0,0,0) 32%);
	mask-image:linear-gradient(-162deg,#000 32%,rgba(0,0,0,0) 32%);
	-webkit-border-radius:53px;
	-moz-border-radius:53px;
	-ms-border-radius:53px;
	-o-border-radius:53px;
	border-radius:53px;
	background:-webkit-linear-gradient(280deg,rgba(255,255,255,0.6),rgba(255,255,255,0) 70%) no-repeat;
	background:-moz-linear-gradient(280deg,rgba(255,255,255,0.6),rgba(255,255,255,0) 70%) no-repeat;
	background:-o-linear-gradient(280deg,rgba(255,255,255,0.6),rgba(255,255,255,0) 70%) no-repeat;
	background:linear-gradient(280deg,rgba(255,255,255,0.6),rgba(255,255,255,0) 70%) no-repeat;
	-webkit-background-size:60% 100%;
	-moz-background-size:60% 100%;
	-o-background-size:60% 100%;
	background-size:60% 100%;
	background-position:top right;
}

.iphone .camera {
	position:absolute;
	z-index:2;
	top:50px;
	left:50%;
	margin-left:-75px;
	height:8px;
	width:8px;
	padding:4px;
	border:1px solid rgba(255,255,255,0.05);
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-ms-border-radius:9px;
	-o-border-radius:9px;
	border-radius:9px;
	-webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0 3px 6px rgba(0,0,0,0.25);
	box-shadow:inset 0 3px 6px rgba(0,0,0,0.25);
	background:-webkit-gradient(radial,5px 5px,0,5px 5px,100,color-stop(0%,#1b1b1b),color-stop(100%,#343434));
	background:-webkit-radial-gradient(5px 5px,#1b1b1b,#343434);
	background:-moz-radial-gradient(5px 5px,#1b1b1b,#343434);
	background:-o-radial-gradient(5px 5px,#1b1b1b,#343434);
	background:radial-gradient(5px 5px,#1b1b1b,#343434);
	background-position:top left;
}

.iphone .camera:after {
	display:block;
	height:8px;
	width:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:1px 1px 1px rgba(255,255,255,0.1);
	-moz-box-shadow:1px 1px 1px rgba(255,255,255,0.1);
	box-shadow:1px 1px 1px rgba(255,255,255,0.1);
	background:-webkit-gradient(radial,1px 1px,0,1px 1px,50,color-stop(25%,#3c2b90),color-stop(50%,rgba(60,43,144,0.75))),-webkit-gradient(radial,1px 1px,0,1px 1px,50,color-stop(25%,rgba(43,93,144,0.75)),color-stop(50%,rgba(43,93,144,0))),-webkit-gradient(radial,1px 1px,0,1px 1px,50,color-stop(25%,rgba(43,93,144,0.75)),color-stop(50%,rgba(43,93,144,0))),-webkit-gradient(radial,50% 50%,0,50% 50%,60,color-stop(40%,#07131b),color-stop(60%,#1b3d70));
	background:-webkit-radial-gradient(1px 1px,#3c2b90 25%,rgba(60,43,144,0.75) 50%),-webkit-radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),-webkit-radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),-webkit-radial-gradient(#07131b 40%,#1b3d70 60%);
	background:-moz-radial-gradient(1px 1px,#3c2b90 25%,rgba(60,43,144,0.75) 50%),-moz-radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),-moz-radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),-moz-radial-gradient(#07131b 40%,#1b3d70 60%);
	background:-o-radial-gradient(1px 1px,#3c2b90 25%,rgba(60,43,144,0.75) 50%),-o-radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),-o-radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),-o-radial-gradient(#07131b 40%,#1b3d70 60%);
	background:radial-gradient(1px 1px,#3c2b90 25%,rgba(60,43,144,0.75) 50%),radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),radial-gradient(1px 1px,rgba(43,93,144,0.75) 25%,rgba(43,93,144,0) 50%),radial-gradient(#07131b 40%,#1b3d70 60%);
	background-position:top left,center left,center,right center;
	content:"";
}

.iphone .speaker {
	position:absolute;
	z-index:2;
	top:50px;
	left:50%;
	margin-left:-37px;
	width:62px;
	height:8px;
	padding:5px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-ms-border-radius:9px;
	-o-border-radius:9px;
	border-radius:9px;
	background:-webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(0%,rgba(255,255,255,0.35)),color-stop(100%,rgba(255,255,255,0))) no-repeat,-webkit-gradient(linear,50% 0%,50% 18,color-stop(44.44444%,#000),color-stop(100%,#444));
	background:-webkit-radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0)) no-repeat,-webkit-linear-gradient(#000 8px,#444 18px);
	background:-moz-radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0)) no-repeat,-moz-linear-gradient(#000 8px,#444 18px);
	background:-o-radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0)) no-repeat,-o-linear-gradient(#000 8px,#444 18px);
	background:radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0)) no-repeat,linear-gradient(#000 8px,#444 18px);
	-webkit-background-size:10px 10px,100% 100%;
	-moz-background-size:10px 10px,100% 100%;
	-o-background-size:10px 10px,100% 100%;
	background-size:10px 10px,100% 100%;
	background-position:bottom right,center;
}

.iphone .speaker:after {
	display:block;
	width:62px;
	height:8px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	background:-webkit-linear-gradient(45deg,#000 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,#000 75%,#000),#888;
	background:-moz-linear-gradient(45deg,#000 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,#000 75%,#000),#888;
	background:-o-linear-gradient(45deg,#000 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,#000 75%,#000),#888;
	background:linear-gradient(45deg,#000 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,#000 75%,#000),#888;
	-webkit-background-size:2px 2px;
	-moz-background-size:2px 2px;
	-o-background-size:2px 2px;
	background-size:2px 2px;
	-webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.75),inset 0 0 2px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0 2px 3px rgba(0,0,0,0.75),inset 0 0 2px rgba(0,0,0,0.5);
	box-shadow:inset 0 2px 3px rgba(0,0,0,0.75),inset 0 0 2px rgba(0,0,0,0.5);
	content:"";
}

.iphone .home_button {
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-35px;
	height:70px;
	width:70px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	-ms-border-radius:35px;
	-o-border-radius:35px;
	border-radius:35px;
	background:-webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,#444),color-stop(60%,#000));
	background:-webkit-linear-gradient(left,#444,#000 60%);
	background:-moz-linear-gradient(left,#444,#000 60%);
	background:-o-linear-gradient(left,#444,#000 60%);
	background:linear-gradient(left,#444,#000 60%);
	border:1px solid #000;
	-webkit-box-shadow:1px 1px 1px #222222,inset 0 10px 30px rgba(0,0,0,0.5);
	-moz-box-shadow:1px 1px 1px #222222,inset 0 10px 30px rgba(0,0,0,0.5);
	box-shadow:1px 1px 1px #222222,inset 0 10px 30px rgba(0,0,0,0.5);
}

.iphone .home_button:after {
	position:absolute;
	top:23px;
	left:23px;
	right:23px;
	bottom:23px;
	border:2px solid #888;
	-webkit-box-shadow:inset 0 0 1px black,0 0 1px #000;
	-moz-box-shadow:inset 0 0 1px black,0 0 1px #000;
	box-shadow:inset 0 0 1px black,0 0 1px #000;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	content:"";
}

.iphone .screen {
	position:absolute;
	top:120px;
	left:50%;
	margin-left:-166px;
	width:320px;
	height:480px;
	padding:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:#0a0a0a;
}

.iphone .stage {
	width:320px;
	height:480px;
	background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#222),color-stop(100%,#111));
	background:-webkit-linear-gradient(#222,#111);
	background:-moz-linear-gradient(#222,#111);
	background:-o-linear-gradient(#222,#111);
	background:linear-gradient(#222,#111);
}

.iphone .mute_rocker {
	position:absolute;
	top:90px;
	right:100%;
	width:2px;
	height:32px;
	border:1px solid #888;
	border-right:none;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
	background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(5%,#fbfbfb),color-stop(5%,#dbdbdb),color-stop(50%,#dbdbdb),color-stop(75%,#aeaeae),color-stop(90%,#fbfbfb));
	background:-webkit-linear-gradient(#fbfbfb 5%,#dbdbdb 5%,#dbdbdb 50%,#aeaeae 75%,#fbfbfb 90%);
	background:-moz-linear-gradient(#fbfbfb 5%,#dbdbdb 5%,#dbdbdb 50%,#aeaeae 75%,#fbfbfb 90%);
	background:-o-linear-gradient(#fbfbfb 5%,#dbdbdb 5%,#dbdbdb 50%,#aeaeae 75%,#fbfbfb 90%);
	background:linear-gradient(#fbfbfb 5%,#dbdbdb 5%,#dbdbdb 50%,#aeaeae 75%,#fbfbfb 90%);
}

.iphone .volume {
	position:absolute;
	right:100%;
	width:2px;
	height:25px;
	border:1px solid #888;
	border-right:none;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
	background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#dbdbdb),color-stop(15%,#eee),color-stop(75%,#333),color-stop(90%,#fbfbfb));
	background:-webkit-linear-gradient(#dbdbdb,#eee 15%,#333 75%,#fbfbfb 90%);
	background:-moz-linear-gradient(#dbdbdb,#eee 15%,#333 75%,#fbfbfb 90%);
	background:-o-linear-gradient(#dbdbdb,#eee 15%,#333 75%,#fbfbfb 90%);
	background:linear-gradient(#dbdbdb,#eee 15%,#333 75%,#fbfbfb 90%);
}

.iphone .volume.up {
	top:160px;
}

.iphone .volume.down {
	top:222px;
}

.iphone .sleep_wake {
	position:absolute;
	bottom:100%;
	right:70px;
	width:60px;
	height:3px;
	border:1px solid #888;
	border-bottom:none;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
	background:-webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,#aaa),color-stop(7%,#fff),color-stop(15%,#aaa),color-stop(70%,#ddd),color-stop(85%,#bbb),color-stop(93%,#eee),color-stop(100%,#aaa));
	background:-webkit-linear-gradient(left,#aaa,#fff 7%,#aaa 15%,#ddd 70%,#bbb 85%,#eee 93%,#aaa);
	background:-moz-linear-gradient(left,#aaa,#fff 7%,#aaa 15%,#ddd 70%,#bbb 85%,#eee 93%,#aaa);
	background:-o-linear-gradient(left,#aaa,#fff 7%,#aaa 15%,#ddd 70%,#bbb 85%,#eee 93%,#aaa);
	background:linear-gradient(left,#aaa,#fff 7%,#aaa 15%,#ddd 70%,#bbb 85%,#eee 93%,#aaa);
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
